@import 'norm.css';
@import 'gradients.css';

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  min-height: 100vh;
  margin: 0px;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
}
.text {
  font-size: 1.4rem;
  color: black;
}
a, .white {
  color: #efefef;
}
.nostylelink {
  text-decoration: none;
  color: white;
  font-style: normal;
  font-size: 2.3rem;
  transition: transform .3s ease-in-out;
}
.nostylelink:hover, .nostylelink:visited {
  transform: scale(1.1);
  cursor: pointer;
}

.buildBG {
  height: 100%;
  min-height: 200vh;
  width: 100%;
  background-attachment: scroll;
  z-index: -5;
}

.build0 {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  bottom: 0px;
  left: 0px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
}
#build0img {
  height: 240px;
  width: 597px;
  position: fixed;
  bottom: 0px;
  left: -3px;
  box-sizing: border-box;
  background-image: url('../img/build0sm.png');
  background-size: 597px 240px;
  overflow: inherit;
  z-index: 3;
}
#build0img-l {
  height: 240px;
  width: 597px;
  position: fixed;
  bottom: 0px;
  left: -3px;
  box-sizing: border-box;
  background-image: url('../img/build0sm-light.png');
  /*background-size: 384px 240px;*/
  overflow: inherit;
  z-index: 3;
}
#build2img {
  display: inline-block;
  height: 200px;
  width: 152px;
  position: relative;
  bottom: calc(-200vh + 200px);
  left: 33px;
  box-sizing: border-box;
  background-image: url('../img/build2sm.png');
  background-size: 152px 200px;
  background-repeat: no-repeat;
  overflow-x: inherit;
}
#build2aimg {
  display: none;
}

#click0 {
  height: 40px;
  width: 26px;
  display: inline-block;
  position: fixed;
  bottom: 200px;
  left: 93px;
  z-index: 5;
}
#click1 {
  height: 38px;
  width: 32px;
  display: inline-block;
  position: fixed;
  bottom: 185px;
  left: 195px;
  z-index: 5;
}
.hello {
  position: absolute;
  display: inline-block;
  bottom: 350px;
  left: 65px;
  z-index: 4;
}
.links {
  position: absolute;
  display: inline-block;
  bottom: 270px;
  left: 110px;
  z-index: 4;
}

.z2 {
  z-index: 2;
}

/* mini catflick */
#calico-divsm {
  height: 34px;
  width: 34px;
  display: inline-block;
  position: fixed;
  bottom: 181px;
  left: -1px;
  margin: 15% auto 0 auto;
  background: transparent url('../img/calicosprite-sm.png') 0 0 no-repeat;
  z-index: 4;
}
@keyframes calicosm {
  /* 7 frames */
  0% { background-position: 0 0; }
  100% { background-position: 0 -238px; }
}
#calico-divsm:hover {
  animation: calicosm 400ms 300ms steps(7);
}
.catSay {
  position: fixed;
  bottom: 165px;
  left: 40px;
  background-color: white;
  border: 1px solid rgba(180,180,180,.8);
  border-radius: 5px;
  padding: 0.1rem;
  z-index: 4;
}

#infostar {
  position: fixed;
  bottom: -10px;
  right: 14px;
  box-sizing: border-box;
  z-index: 10;
}
#infobubble {
  height: 200px;
  width: 200px;
  position: fixed;
  bottom: 55px;
  right: 30px;
  padding: 8px 12px 0px 10px;
  box-sizing: border-box;
  z-index: 10;
  background-image: url('../img/speech.min.svg');
  font-size: 1.2rem;
}
.darkgrey {
  color: #555555;
}
.bottom {
  display: inline;
  line-height: 2rem;
}
.inline {
  display: inline;
}


@media all and (min-width: 600px) {
  #build2aimg {
    display: inline;
    height: 150px;
    width: 171px;
    position: absolute;
    bottom: -100%;
    left: 350px;
    box-sizing: border-box;
    background-image: url('../img/build2asm.png');
    background-size: 171px 150px;
    background-repeat: no-repeat;
    overflow-x: inherit;
    z-index: 2;
  }
}

@media screen and (min-device-pixel-ratio: 1.5) {
  #build0img {
    background-image: url('../img/build0md2.png');
  }
  #build2img {
    background-image: url('../img/build2md.png');
  }
  #build2aimg {
    background-image: url('../img/build2amd.png');
  }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
  .hello {
    position: absolute;
    display: inline-block;
    bottom: 275px;
    left: 110px;
    z-index: 4;
  }
  .links {
    position: absolute;
    display: inline-block;
    bottom: 210px;
    left: 285px;
    z-index: 6;
  }
}

