#build0 {
  height: 250px;
  width: 65px;
  position: fixed;
  bottom: -12px;
  left: 0px;
  box-sizing: border-box;
  background-image: url('../img/build0a-sm.png');
  background-size: 65px 250px;
  overflow: hidden;
  z-index: 3;
}

#build0b {
  height: 250px;
  width: 208px;
  position: fixed;
  bottom: 0px;
  left: 55px;
  box-sizing: border-box;
  background-image: url('../img/build0b-sm.png');
  background-size: 208px 250px;
  overflow: hidden;
  z-index: 2;
  transition: all .3s ease-in-out;
}

#build0b-light {
  height: 250px;
  width: 208px;
  position: fixed;
  bottom: 0px;
  left: 55px;
  box-sizing: border-box;
  background-image: url('../img/build0b-light-md.png');
  background-size: 208px 250px;
  overflow: hidden;
  z-index: 3;
  transition: all .3s ease-in-out;
}

#build0c {
  height: 250px;
  width: 106px;
  position: fixed;
  bottom: 0px;
  left: 265px;
  box-sizing: border-box;
  background-image: url('../img/build0c-sm.png');
  background-size: 106px 250px;
  overflow: hidden;
  z-index: 3;
}

#build01 {
  height: 250px;
  width: 204px;
  position: fixed;
  bottom: 0px;
  left: 251px;
  box-sizing: border-box;
  background-image: url('../img/build01-sm.png');
  background-size: 204px 250px;
  overflow: hidden;
  z-index: 2;
}

@media screen and (min-device-pixel-ratio: 1.5) {
  #build0a {
    background-image: url('../img/build0a-md.png');
  }
  #build0b {
    background-image: url('../img/build0b-md.png');
  }
  #build0c {
    background-image: url('../img/build0c-md.png');
  }
  #build01 {
    background-image: url('../img/build01-md.png');
  }
  #build02 {
    background-image: url('../img/build02-md.png');
  }
  #build0b-light {
    background-image: url('../img/build0b-light-md.png');
  }
}

@media all and (min-width: 480px) {
  #build02 {
    height: 250px;
    width: 144px;
    position: fixed;
    bottom: 0px;
    left: 450px;
    box-sizing: border-box;
    background-image: url('../img/build02-sm.png');
    background-size: 144px 250px;
    overflow: hidden;
    z-index: 1;
  }
}