
#build0 {
  height: 250px;
  width: 65px;
  position: fixed;
  bottom: -12px;
  left: 0px;
  box-sizing: border-box;
  background-image: url('../img/build0a-sm.png');
  background-size: 65px 250px;
  overflow: hidden;
  z-index: 3;
}